.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.6);
}

.modal-main {
  position: fixed;
  background: rgb(255, 255, 255);
  width: 85%;
  height: 150px;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
}

.cancel {
  position: fixed;
  top: 68%;
  left: 70%;
  height: 40px;
  color: rgb(131, 41, 41);
  border: 3px solid rgb(131, 41, 41);
  border-radius: 3px;
  font-size: 2rem;
}

.cancel:hover {
  background-color: rgb(131, 41, 41);
  color: white;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.edit-work {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: auto;
}

.editing {
  outline: none;
  margin-top: 10px;
  height: 30px;
  border: 1px solid darkslategrey;
  border-radius: 3px;
}

.edit-work-input {
  width: 30%;
}

.edit-price {
  text-align: center;
}

.edit-work-name,
.edit-date,
.edit-paid,
.edit-status,
.edit-review {
  width: 100%;
  text-align: center;
}

.edit-form-options {
  font-size: 1.1rem;
  color: darkslategrey;
  font-family: "Roboto", sans-serif;
}

.edit-button {
  position: fixed;
  top: 68%;
  left: 63%;
  height: 40px;
  width: 70px;
  background-color: white;
  color: rgb(12, 48, 12);
  border: 1px solid rgb(12, 48, 12);
  border-radius: 3px;
  font-size: 1.1rem;
  text-align: center;
  padding-top: 6px;
}

.edit-button:hover {
  background-color: rgb(12, 48, 12);
  color: white;
}
.edit-button:active {
  background-color: rgb(27, 247, 27);
}
